<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<!-- ====== The following section is temporary ===== -->
	<div id="testimonies">
	 <%= @timeline.each do |tweet| %>
	   <blockquote><%= tweet.text %></blockquote>
	   <p>Favorited: <%= tweet.favorite_count %>  times.</p>
	   <p>Retweeted: <%= tweet.retweet_count %> times.</p>
	   <div class="from">&mdash; @<%= tweet.user.screen_name %></div>
	 <% end %>
	</div>
	<!-- ====== End Temporary section ====== -->
</p>