<% if signed_in? %>
	<div class="row">
		<aside class="col-xs-12 col-sm-4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
				
				
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% unless linkedin? %>
							<%= link_to "Link your LinkedIn!", "/auth/linkedin", class: "btn btn-large btn-primary" %><span class="label label-success">New</span>
						<% end %>
					</div>
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% unless twitter? %>
							<%= link_to "Link your Twitter!", "/auth/twitter?user_authorize=true", class: "btn btn-large btn-primary" %>
						<% end %>
					</div>
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% if !facebook? || facebook_expired? %>
							<%= link_to "Link your Facebook!", "/auth/facebook", class: "btn btn-large btn-primary" %>
						<% end %>
					</div>
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% unless instagram? %>
							<%= link_to "Link your Instagram!", "/auth/instagram", class: "btn btn-large btn-primary" %>
						<% end %>
					</div>
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% unless foursquare? %>
							<%= link_to "Link your Foursquare!", "/auth/foursquare", class: "btn btn-large btn-primary" %>
						<% end %>
					</div>
					<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
						<% unless fitbit? %>
							<%= link_to "Link your Fitbit!", "/auth/fitbit", class: "btn btn-large btn-primary" %>
						<% end %>
					</div>
				
		<div class="col-xs-12 col-sm-8">	
				<h3>Peanut Gallery</h3>
				<%= render 'shared/feed' %>
		</div>
	</div>

	<div class="row">
				<%= render 'shared/social_connections.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_connections_time.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_engagement.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_output_time.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/twitter_followers_following.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/twitter_input_vs_output.html.erb' %>
	</div>
<% else %>

	<div class="center jumbotron">
	
		<%= link_to image_tag("ivolvelogo.png", alt: "about-ivolve", class: "center img-responsive"), about_path %>
		<h1 style="color: white;">Welcome to the iVolution!</h1>
	  
		<h2>
			This is the home page for the
	    	<a id="gaLink" href="http://ivolve.me/">iVolve</a> application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

<% end %>