<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Sign in more accounts!</h3>
			<%= link_to "Link your Fitbit!", "/auth/fitbit", class: "btn btn-large btn-primary" %>
			<h3>Activity Feed</h3>
			<h4 style="border-top: 1px solid #e8e8e8">Twitter:</h4>
			<% if twitter? %>
				<h5>Name: <%= @twitter_name %></h5>
				<h5>Description: <%= @twitter_description %> </h5>
				<h5>Friends: <%= @twitter_friends %></h5>
				<h5>Followers: <%= @twitter_followers %></h5>
				<h5>Tweets Sent: <%= @twitter_sent %></h5>
				<h5>Tweets Favorited: <%= @twitter_favorites %></h5>
				<h5>Twitter Lists: <%= @twitter_lists %></h5>
			<% else %>
				<%= link_to "Link your Twitter!", "/auth/twitter?user_authorize=true", class: "btn btn-large btn-primary" %>
			<% end %>
			<h4 style="border-top: 1px solid #e8e8e8">Facebook:</h4>
			<% if facebook? %>
				<h5>Name: <%= @facebook_name %></h5>
				<h5>Bio: <%= @facebook_bio %> </h5>
				<h5>Birthday: <%= @facebook_birthday %></h5>
				<h5>Friends: <%= @facebook_num_friends %></h5>
				<h5>Likes: <%= @facebook_num_likes %></h5>
				<h5>Posts: <%= @facebook_num_posts %></h5>
				<h5>Statuses: <%= @facebook_num_statuses %></h5>
				<h5>Achievements: <%= @facebook_num_achievements %></h5>
				<h5>Subscribers: <%= @facebook_num_subscribers %></h5>
				<h5>Subscribed to you: <%= @facebook_num_subscribed_to %></h5>
			<% else %>
				<%= link_to "Link your Facebook!", "/auth/facebook", class: "btn btn-large btn-primary" %>
			<% end %>
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
	
		<%= link_to image_tag("ivolvelogo.jpg", alt: "about-ivolve"), 'http://ivolve.me/about-ivolve' %>
		<h1 style="color: white;">Welcome to the iVolution!</h1>
	  
		<h2>
			This is the home page for the
	    	<a href="http://ivolve.me/">iVolve</a> application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

<div style="padding-right: 40px;">
	<center>
	<%= link_to image_tag("ivolvecaveman.jpg", alt: "caveman-ivolve"), 'http://ivolve.me/' %>
	</center>
</div>