<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Sign in more accounts!</h3>
			<%= link_to "Sign in with Twitter!", "/auth/twitter?user_authorize=true", class: "btn btn-large btn-primary" %>
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
	
		<%= link_to image_tag("ivolvelogo.jpg", alt: "about-ivolve"), 'http://ivolve.me/about-ivolve' %>
		<h1 style="color: white;">Welcome to the iVolution!</h1>
	  
		<h2>
			This is the home page for the
	    	<a href="http://ivolve.me/">iVolve</a> application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Sign in with Twitter!", "/auth/twitter?user_authorize=true" %>
	</div>
<% end %>

<div style="padding-right: 40px;">
	<center>
	<%= link_to image_tag("ivolvecaveman.jpg", alt: "caveman-ivolve"), 'http://ivolve.me/' %>
	</center>
</div>