<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
	
		<%= link_to image_tag("ivolvelogo.jpg", alt: "about-ivolve"), 'http://ivolve.me/about-ivolve' %>
		<h1 style="color: white;">Welcome to the iVolution!</h1>
	  
		<h2>
			This is the home page for the
	    	<a href="http://ivolve.me/">iVolve</a> application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

<!-- ====== The following section is temporary ===== -->
<div id="testimonies">
 <% Twitter.user_timeline("roanedraths", count: 2).each do |tweet| %>
   <blockquote><%= tweet.text %></blockquote>
   <p>Favorited: <%= tweet.favorite_count %>  times.</p>
   <p>Retweeted: <%= tweet.retweet_count %> times.</p>
   <div class="from">&mdash; @<%= tweet.user.screen_name %></div>
 <% end %>

 <% if a_user = Twitter.user("roanedraths") %>
 	<p>Followers: <%= a_user.followers_count.to_s %>.</p>
 <% end %>
</div>
<!-- ====== End Temporary section ====== -->

<div style="padding-right: 40px;">
	<center>
	<%= link_to image_tag("ivolvecaveman.jpg", alt: "caveman-ivolve"), 'http://ivolve.me/' %>
	</center>
</div>