<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
	<div class="hidden-xs col-sm-2">
	</div>
		<div class="col-xs-12 col-sm-8">
			<%= form_tag('/auth/identity/callback', :id => 'actual-login-form') do %>
			  <div class="field">
			    <%= label_tag :auth_key, "Email" %><br>
			    <%= text_field_tag :auth_key, nil, :class => 'user-auth-key' %>
			  </div>
			  <div class="field">
			    <%= label_tag :password %><br>
			    <%= password_field_tag :password %>
			  </div>
			  <div class="actions"><%= submit_tag "Login", :class => "btn btn-large btn-primary" %>
			  </div>
			<% end %>
		</div>
	<div class="hidden-xs col-sm-2">
	</div>
</div>
<div class="row">
	<div class="hidden-xs col-sm-2">
	</div>
		<div class="col-xs-12 col-sm-8">
			<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		</div>
	</div>
	<div class="hidden-xs col-sm-2">
	</div>
</div>

