
<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-xs-12 col-sm-4">
		<section>
				<%= gravatar_for(@user, size: 150) %>
				<h1><%= @user.name %></h1>
				<span><%= @user.email %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
				<%= render 'follow_form' if signed_in? %>
		</section>
	</aside>

<% if my_profile? %>
	<% unless linkedin? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your LinkedIn!", "/auth/linkedin", class: "btn btn-large btn-primary" %><span class="label label-success">New</span>
		</div>
	<% end %>
	<% unless twitter? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your Twitter!", "/auth/twitter?user_authorize=true", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<% if !facebook? || facebook_expired? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your Facebook!", "/auth/facebook", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<% unless instagram? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your Instagram!", "/auth/instagram", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<% unless foursquare? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your Foursquare!", "/auth/foursquare", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<% unless fitbit? %>
		<div class="col-xs-6 col-sm-4" style="margin-top: 3px; margin-bottom: 3px">
			<%= link_to "Link your Fitbit!", "/auth/fitbit", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
<% end %>
</div>

	<div class="row">
				<%= render 'shared/wellness_bar.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_connections.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_engagement.html.erb' %>
	</div>

	<div class="col-xs-12">
		<% if @user.microposts.any? %>
			<h3>Peanuts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>