<% provide(:title, @title) %>
<div class="row">
	<aside class="col-xs-12 col-sm-8 col-md-2">
		<section>
			<% if @user == current_user %>
				<h1>
					<%= gravatar_for(@user, size: 150) %>
					Me
				</h1>
				<span><%= link_to "view my profile", current_user %></span>
				<span><b>Peanuts:</b> <%= @user.microposts.count %></span>
			<% else %>
				<h1>
					<%= gravatar_for(@user, size: 150) %>
					<%= @user.name %>
				</h1>
				<span><%= link_to "view #{@user.name}'s profile", @user %></span>
				<span><b>Peanuts:</b> <%= @user.microposts.count %></span>
				<br>
				<span><%= link_to "view my profile", current_user %></span>
			<% end %>
		</section>
		<section>
			<%= render 'shared/stats' %>
			<% if @users.any? %>
				<div class="user_avatars">
					<% @users.each do |user| %>
						<%= link_to gravatar_for(user, size: 30), user %>
					<% end %>
				</div>
			<% end %>
		</section>
	</aside>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-4">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>