<% provide(:title, @title) %>
<div class="row">
	<aside class="col-xs-12 col-sm-4">
		<% if @user == current_user %>
			<section>
				<%= gravatar_for(@user, size: 150) %>
				<h1>Me.</h1>
				<span><%= link_to "back to my profile", current_user %></span>
				<span><b>Peanuts:</b> <%= @user.microposts.count %></span>
			</section>
		<% else %>
			<section>
				<%= gravatar_for(@user, size: 150) %>
				<h1><%= @user.name %></h1>
				<span><%= link_to "back to #{@user.name}'s profile", @user %></span>
				<span><b>Peanuts:</b> <%= @user.microposts.count %></span>
				<br>
				<span><%= link_to "back to my profile", current_user %></span>
			</section>
		<% end %>
		<section>
			<%= render 'shared/stats' %>
			<% if @users.any? %>
				<div class="user_avatars">
					<% @users.each do |user| %>
						<%= link_to gravatar_for(user, size: 30), user %>
					<% end %>
				</div>
			<% end %>
		</section>
	</aside>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-4">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% else %>
			<div class="alert alert-success">
				<strong>Heads Up!</strong> You haven't added any <a href="/users" class="alert-link">iVolve friends yet.</a>
			</div>
		<% end %>
	</div>
</div>