
<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-xs-12 col-sm-4">
		<section>
				<%= gravatar_for(@user, size: 150) %>
				<h1><%= @user.name %></h1>
				<span><%= @user.email %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
				<%= render 'follow_form' if signed_in? %>
		</section>
	</aside>

<% if current_user?(@user) %>
	<div class="col-xs-12 col-sm-8">		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">My Apps</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if linkedin? %>
						<button class="btn btn-primary btn-large active">LinkedIn</button>
					<% else %>
						<%= link_to "Link your LinkedIn!", "/auth/linkedin", class: "btn btn-large btn-danger" %>
					<% end %>
				</div>
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if twitter? %>
						<button class="btn btn-primary btn-large active">Twitter</button>
					<% else %>
						<%= link_to "Link your Twitter!", "/auth/twitter?user_authorize=true", class: "btn btn-large btn-danger" %>
					<% end %>
				</div>
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if !facebook? || facebook_expired? %>
						<%= link_to "Link your Facebook!", "/auth/facebook", class: "btn btn-large btn-danger" %>
					<% else %>
						<button class="btn btn-primary btn-large active">Facebook</button>
					<% end %>
				</div>
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if instagram? %>
						<button class="btn btn-primary btn-large active">Instagram</button>
					<% else %>
						<%= link_to "Link your Instagram!", "/auth/instagram", class: "btn btn-large btn-danger" %>
					<% end %>
				</div>
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if foursquare? %>
						<button class="btn btn-primary btn-large active">Foursquare</button>
					<% else %>
						<%= link_to "Link your Foursquare!", "/auth/foursquare", class: "btn btn-large btn-danger" %>
					<% end %>
				</div>
				<div class="col-xs-6 col-sm-4" style="padding-top: 3px; padding-bottom: 3px">
					<% if fitbit? %>
						<button class="btn btn-primary btn-large active">Fitbit</button>
					<% else %>
						<%= link_to "Link your Fitbit!", "/auth/fitbit", class: "btn btn-large btn-danger" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>

	<div class="row">
				<%= render 'shared/social_connections.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_connections_time.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_engagement.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/social_output_time.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/twitter_followers_following.html.erb' %>
	</div>
	<div class="row">
				<%= render 'shared/twitter_input_vs_output.html.erb' %>
	</div>
	<div class="col-xs-12">
		<% if @user.microposts.any? %>
			<h3>Peanuts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% else %>
			<h3>Peanuts (0)</h3>
			<div class="alert alert-success">
				<strong>Heads Up!</strong> You haven't dropped any Peanuts yet.  You can do so on the <a href="/" class="alert-link">home page.</a>
			</div>
		<% end %>
	</div>