<!-- the instance variables below are defined in stats_helper.rb -->

<div class="col-xs-6" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center">My Social Engagement</h3>
	<h5 style="text-align: center">Total: <%= @twitter_int_sent + @twitter_int_favorites + @facebook_int_likes + @facebook_int_posts + @facebook_int_statuses + @facebook_int_achievements + @instagram_int_media + @instagram_int_likes_out + @foursquare_checkins_count + @foursquare_photos_count + @foursquare_tips_count + @foursquare_badges_count + @foursquare_mayor_count + @linkedin_int_job_suggestions + @linkedin_int_job_bookmarks + @linkedin_int_shares %>
	</h5>
	<%= content_tag :div, "", id: "social-engagement", 
	data: {twitter: @twitter_int_sent + @twitter_int_favorites,
		facebook: @facebook_int_likes + @facebook_int_posts + @facebook_int_statuses + @facebook_int_achievements,
		instagram: @instagram_int_media + @instagram_int_likes_out,
		foursquare: @foursquare_checkins_count + @foursquare_photos_count + @foursquare_tips_count + @foursquare_badges_count + @foursquare_mayor_count,
		linkedin: @linkedin_int_job_suggestions + @linkedin_int_job_bookmarks + @linkedin_int_shares} %>
</div>
<div class="col-xs-6" style="border-top: 1px solid #e8e8e8">
	<h3 style="text-align: center"><%= @who %></h3>
	<h5 style="text-align: center">Total: <%= @twitter_avg_sent + @twitter_avg_fav + @facebook_avg_likes + @facebook_avg_posts + @facebook_avg_statuses + @facebook_avg_achievements + @instagram_avg_media + @instagram_avg_likes_out + @foursquare_avg_checkins + @foursquare_avg_photos + @foursquare_avg_tips + @foursquare_avg_badges + @foursquare_avg_mayors + @linkedin_avg_job_suggestions + @linkedin_avg_job_bookmarks + @linkedin_avg_shares %>
	</h5>
	<%= content_tag :div, "", id: "ivolve-engagement", 
	data: {twitter: @twitter_avg_sent + @twitter_avg_fav,
		facebook: @facebook_avg_likes + @facebook_avg_posts + @facebook_avg_statuses + @facebook_avg_achievements,
		instagram: @instagram_avg_media + @instagram_avg_likes_out,
		foursquare: @foursquare_avg_checkins + @foursquare_avg_photos + @foursquare_avg_tips + @foursquare_avg_badges + @foursquare_avg_mayors,
		linkedin: @linkedin_avg_job_suggestions + @linkedin_avg_job_bookmarks + @linkedin_avg_shares} %>
</div>


